.div-acima{
   display: inline;
    color: lightseagreen;
}

.span-grande {
    color: lightskyblue;
}

.span-pequeno {
    display: block;
    color: lightcoral;
}

.div-abaixo {
   display:none;
   color: lightslategray;
}