*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    margin:0;
    padding:0;
}

header{
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    z-index: 2;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding: 20px;
}

a{
    text-decoration: none;
}

main{
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    padding: 100px 0 30px;
    text-align: center;
}

footer{
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
}

id{
    width: 50px;
    height: 50px;
}

img.chat{
    width: 80px;
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;
}